.headlineContainer {
  margin-top: 10vw;
  color: var(--secondary-color);
  margin-bottom: 3vw;
}

.headline {
  display: block;
  line-height: 0.8;
  font-size: var(--primary-head-font-size);
  text-transform: uppercase;
}

.headlineContainer .headlineWrapper:nth-child(2) {
  margin-left: 12.5vw;
}

.headlineContainer .headlineWrapper:nth-child(4) {
  margin-left: 20vw;
}

.imageContainer {
  height: 65vw;
  margin-bottom: 3vw;
}

.imageWrapper {
  position: absolute;
  width: 45vw;
  height: 65vw;
  right: 32px;
}

.titleText {
  color: var(--secondary-color);
  text-align: right;
  font-weight: 200;
  font-size: var(--text-font-size);
}

@media (max-width: 768px) {
  .headlineContainer {
    position: relative;
    left: 50%;
    transform: translateX(-41%);
  }

  .headline {
    font-size: 16vw;
  }

  .headlineContainer .headlineWrapper:nth-child(1) {
    margin-left: -12.5vw;
  }

  .headlineContainer .headlineWrapper:nth-child(2) {
    margin-left: 8vw;
  }

  .headlineContainer .headlineWrapper:nth-child(3) {
    margin-left: 0vw;
  }

  .headlineContainer .headlineWrapper:nth-child(4) {
    margin-left: 20vw;
  }

  .imageWrapper {
    right: unset;
    left: 30%;
  }

  .titleText {
    text-align: center;
    padding: 0 1rem;
    font-size: 18px;
  }
}
